body {
  background-color: #f5f5f5; /* Light grey background */
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.sign-up-form::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #1b1a1a;
  transform: rotate(45deg);
  z-index: 1;
}

.sign-up-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #333333;
}

.sign-up-form input[type='text'],
.sign-up-form input[type='email'],
.sign-up-form input[type='password'],
.sign-up-form input[type='tel'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: #333333;
  background-color: #f5f5f5; /* Light grey background for input fields */
}

.sign-up-form input[type='text']::placeholder,
.sign-up-form input[type='email']::placeholder,
.sign-up-form input[type='password']::placeholder,
.sign-up-form input[type='tel']::placeholder {
  color: #999999;
}

.sign-up-form input[type='text']:focus,
.sign-up-form input[type='email']:focus,
.sign-up-form input[type='password']:focus,
.sign-up-form input[type='tel']:focus {
  outline: none;
  background-color: #eaeaea;
}

.sign-up-form button {
  width: 100%;
  padding: 12px;
  background-color: #424242;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-up-form button:hover {
  background-color: #4f4f4f;
}

.sign-up-form .login-link {
  text-align: center;
  margin-top: 20px;
  color: #666666;
}

.sign-up-form .login-link a {
  color: #2e2e2e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sign-up-form .login-link a:hover {
  color: #555555;
}
